html {
	background-color: #dbd6cf;
	line-height: 1.5;

}

body {
	margin: 0;
}

header{
	background-color: #79756f;
	padding-bottom: 0.25em;
	text-align: center;
}

h1 {

	margin: 0;
	color: white;
	text-align: center;
	font-family: 'Bevan', cursive;
	padding: 0.5em 0em 0em 0em;
}

ol li{
	display: inline-block;
	color: white;
	margin: 0;

}


ol li a{
	color: white;
	text-decoration: none;
	background-color: #703838;
	padding: 0.5em;
	border-radius: 0.25em;
	line-height: 2.25;
}

figure {
	border: 5px solid #bcb9b2;
	border-radius: 1em;
	padding: 0.75em 0.75em 3em 0.75em;
	text-align: center;
	margin: 0em 0.5em;
}

img {
	width: 100%;
}
h2, h3 {
	font-family: 'Bevan', cursive;
	color: #79756f;
}

p {
	font-family: ariel, sans-serif;
	line-height: 1.5;
}

ol {
	padding:0;
	color: #713837;
	list-style-type: none;
	font-family: ariel, sans-serif;
}


a {
	color: #713837
}


a:hover {
	color: red;
}


.quote {
	font-style: italic;
	font-size: 1.5rem;
	padding-left: 35px;
	font-family: times-new-roman, serif;
}

b{
	color: #79757c;
	font-style: normal;
}



.neil {
	text-align: right;
	color: #79757c;
	font-family: times-new-roman, serif;
	font-style: italic;
}

ul {
	list-style-type: lower-roman;

}

figcaption {
	font-style: italic;
	font-size: .8rem;
	font-family: ariel, sans-serif;
}

.data-title{
	color: black;
}

.link {
	color: #703838;
	text-decoration: underline;
	list-style-type: circle;
}

.sources {
	color: white;
	margin-left:  0.5em;
	margin-top: 1em;
	padding-top: 3em;
	display: inline;
}

footer {
	background-color: #79756f;
	margin: 0;
	list-style-type: circle;
	padding-top: 0.75em;

}

dd {
	padding-bottom: 1em;

}

dt {
	font-weight: bold;
}

footer ul li a {
	list-style-type: circle;
	margin-left: 0;
}

footer ul {
	margin: 0;
	display: block;

}
